.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 730px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: -5px 0
}

.title {
  text-align: center;
}